.list {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .list-empty {
    color: #777;
    font-size: 30px;
    text-align: center;
    font-weight: 500;

    &::before {
      content: "😕 ";
      font-size: 24px;
      display: block;
      margin-bottom: 8px;
    }
  }
}

.user-posts.error {
  color: red;
  font-size: 20px;
}
